// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Expands ion-select to show complete selection
ion-select {
	max-width: none;
}

/* Overide square thumbnails for ios and md */
.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img, .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
	width: 52.5px;
	height: 84px;
}

/* Overide excess thumbnail width for md */
.item-md ion-thumbnail {
	min-width: 50px;
}

/* Fixes truncated titles without ellipses */
.bookTitle{
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Allows text snippet to have multiple rows (line-clamp #) before ellipses */
.textSnippet{
  display: -webkit-box !important;
  -webkit-line-clamp: 3   !important;
  -webkit-box-orient: vertical !important;
}