<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button icon-only (click)="openModal()">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			{{title}}
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="filterToggle()">
				<ion-icon name="ios-funnel" [isActive]="filterOn"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-grid no-padding *ngIf="filterOn">
		<ion-row>
			<ion-col>
				<ion-searchbar
				[(ngModel)]="searchText"
				[showCancelButton]="shouldShowCancel"
				placeholder="Filter Books"></ion-searchbar>
			</ion-col>
			<ion-col align-self-center>
				<button ion-item detail-none color="light">
					<ion-label>Sort By:</ion-label>
					<ion-select [(ngModel)]="settings.sortSelection" (ngModelChange)="setSettingData()">
						<ion-option value="authors">Author</ion-option>
						<ion-option value="saveDate">Save Date</ion-option>
						<ion-option value="title">Title</ion-option>
						<ion-option value="">Manual</ion-option>
					</ion-select>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-list>
		<ion-item-group [reorder]="settings.sortSelection=='' && filterOn" (ionItemReorder)="reorderItems($event)">
				<ion-item-sliding (ionDrag)="onItemDrag($event,item)" #slidingItem *ngFor="let item of items | filter: searchText | sort: settings.sortSelection; let i = index">
					<!-- use 'button' for forward nav arrow -->
					<button ion-item *ngIf="item != undefined" (click)="openNavDetailsPage(i)">
						<ion-thumbnail id="coverImg" item-start>
							<img [src]="item.thumbnail">
						</ion-thumbnail>
						<h2 class="bookTitle">{{item.title}}</h2>
						<h3 *ngIf="item.authors">{{item.authors[0]}} • {{item.publishedDate | date:'y'}}</h3>
						<p text-wrap class="textSnippet" [innerHTML]="item.textSnippet"></p>
					</button>
					<ion-item-options side="right">
						<button ion-button color="danger" (click)="trashBookTrigger(item)"><ion-icon name="ios-trash"></ion-icon>Delete</button>
						<button ion-button expandable (click)="archiveTrigger(item)"><ion-icon name="ios-archive" [isActive]="archiveButton.fill"></ion-icon>{{archiveButton.text}}</button>
					</ion-item-options>
				</ion-item-sliding>
		</ion-item-group>
	</ion-list>
</ion-content>
