<ion-header>
  <ion-navbar>
    <ion-title>Search Books</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <!-- form action & name required for search button on keyboard -->
    <form action=".">
      <ion-searchbar
        [ngModelOptions]="{standalone:true}"
        type="search"
        [(ngModel)]="options.general"
        (ionInput)="search(options)"
        autocomplete="on"
        placeholder="Title, Author, ISBN, ...">
      </ion-searchbar>
    </form>
    <ion-buttons end>
      <button ion-button (click)="filterToggle()">
        <ion-icon name="ios-funnel" [isActive]="filterOn"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list *ngIf="filterOn">
    <form action=".">
      <ion-item>
        <ion-label color="primary">Title</ion-label>
        <ion-input name="title" type="search" placeholder="ex. Harry Potter" [(ngModel)]="options.title" (keyup)="search(options)" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Author</ion-label>
        <ion-input name="author" type="search" placeholder="ex. JK Rowling" [(ngModel)]="options.author" (keyup)="search(options)" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Subject</ion-label>
        <ion-input name="subject" type="search" placeholder="ex. Fiction" [(ngModel)]="options.subject" (keyup)="search(options)" clearInput></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-header>

<ion-content>
  <!-- shown when content -->
  <ion-list>
    <ion-item-sliding *ngFor="let item of items" #slidingItem (ionDrag)="onItemDrag($event,item)" >
      <ion-item *ngIf="item != undefined">
        <ion-thumbnail id="coverImg" item-start>
          <img [src]="item.volumeInfo.imageLinks.smallThumbnail">
        </ion-thumbnail>
        <h2 class="bookTitle">{{item.volumeInfo.title}}</h2>
        <h3 *ngIf="item.volumeInfo.authors">{{item.volumeInfo.authors[0]}} <span *ngIf="item.volumeInfo.publishedDate != null">• {{item.volumeInfo.publishedDate | date:'y'}}</span></h3>
        <p text-wrap class="textSnippet" [innerHTML]="item.searchInfo?.textSnippet"></p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button expandable (click)="addBook(item)"><ion-icon name="ios-download" ></ion-icon>Add</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="infiniteScrollOn">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
