page-details {

}

.centerImg {
  margin: auto;
  display: block;
}

/*
.coverImg {
	display: block;
	float: left;
}

.sideInfo {
	display: block;
	float: right;
}

.textSnippet {
	display: block;
	clear: both;
}*/
