<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>More Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img class="coverImg" [src]="item.thumbnail">
  <div class="sideInfo">
    <h3 class="bookTitle">{{item.title}}</h3>
    <h2>{{item.subtitle}}</h2>
    <p *ngIf="item.authors">{{item.authors[0]}} • {{item.publishedDate | date:'y'}}</p>
    <p>ISBN: {{item.isbn}}</p>
    <p>Saved: {{item.saveDate | date:'shortDate'}}</p>
    <p *ngIf="item.lastArchived">Last Archived: {{item.lastArchived | date:'shortDate'}}</p>
  </div>
  <p text-wrap [innerHTML]="item.textSnippet"></p>
</ion-content>
